:root {
  --highlight: #141926;
  --primary: #129fc0;
}

body {
  font-family: "Lora", serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans JP", sans-serif;
}

.nav {
  width: 100vw;
  height: 150px;
  background-color: var(--highlight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > .logo {
  width: 300px;
}
